$primaryColor: #AEB5BA;
$secondaryColor: #1A5E63;
$grey: #2E282A;
$fontColor: #dce2eb;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);

/*$secondaryColor: #AEB5BA;*/